<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/admin.css"/>
    <title>admin</title>
</head>
<body>
    <div class="nav-box">
        <div>
            <a href="/"><img class="back-icon" src="./img/back.png"></a>
        </div>
        <div>
            <span class="admin-title-circle"></span>
            <span class="admin-title">管理員</span> 
        </div>
        <section class="admin-panel">
                <div class="admin-card">
                    <div>
                        <h3 class="admin-card-title">管理餐點</h3>
                    </div>
                    <div>
                        <a href="/adminManage"><img class="next-icon" src="./img/next.png"></a>
                    </div>
                </div>
                <div class="admin-card">
                    <div>
                        <h3 class="admin-card-title">新增餐點</h3>
                    </div>
                    <div>
                        <a href="/adminAdd"><img class="next-icon" src="./img/next.png"></a>
                    </div>
                </div>
        </section>
    </div>
</body>
</html>