<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <div class="add-nav-box">
        <div>
          <a>
            <img class="back-icon" src="../../back.png" />
          </a>
        </div>
      </div>
      <form>
        <div>
          <h2 class="add-title">新增餐點</h2>
        </div>
        <div>
          <input class="text-input" type="text" placeholder="中文名稱" />
        </div>
        <div>
          <input class="text-input" type="text" placeholder="英文名稱" />
        </div>
        <div>
          <input class="text-input" type="text" placeholder="價錢" />
        </div>
        <div>
          <select class="select">
            <option>咖啡</option>
          </select>
        </div>
        <div>
          <input class="submit-btn" type="submit" />
        </div>
      </form>
    </div>
  </body>
</html>
