<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/login.css">
    <title>Document</title>
</head>
<body>
    <div>
        <a href="/"><img class="back-icon" src="./img/back.png"></a>
    </div>
    <form action="/login" methos="POST" class="login-form">
        <input type="text" class="user-input" placeholder="帳號" name="username">
        <input type="password" class="password-input" placeholder="密碼" name="password">
        <input type="submit" class="submit-btn" value="交卷!">
    </form> 
</body>
</html>