@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.admin-icon-box {
  width: 100%;
  display: flex;
  padding-left: 10px;
  padding-top: 5px;
  justify-content: left;
}

.admin-icon {
  width: 16px;
  height: auto;
}

.logout {
  width: 20px;
}

.logo {
  width: 150px;
  height: auto;
}

.buttons {
  margin-top: 30px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 100px;
  width: 300px;
  padding-bottom: 10px;
  display: flex;
}

.food-btn {
  display: inline-block;
  margin-right: 5px;
  border: none;
  border-radius: 10px;
  background: rgb(248, 248, 230);
  height: 80px;
  width: 80px;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  line-height: 80px;
}

.drink-info {
  border: 1px solid rgb(189, 189, 189);
  padding: 30px;
  margin-top: 30px;
}

.main-sec {
  margin-bottom: 30px;
}

.category-title {
  font-size: 24px;
  font-family: "Noto Sans TC", sans-serif;
}

.drink-card {
  border-radius: 20px;
  font-size: 20px;
  min-height: 300px;
  width: 350px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-top: 20px;
  padding-bottom: 10px;
}

.card-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.drink-item {
  display: flex;
  padding: 10px 20px;
  align-items: center;
}

.item-box1 {
  width: 20%;
}
.item-box2 {
  width: 50%;
}

.item-box3 {
  width: 15%;
}

.item-box-customer1 {
  width: 70%;
}

.item-box-customer2 {
  width: 15%;
}

.item-box-customer3 {
  width: 30%;
  text-align: center;
}

.price {
  margin-right: 5px;
}

.chineseName {
  font-size: 16px;
  white-space: normal;
}

.englishName {
  font-size: 16px;
  white-space: normal;
}

.test-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  min-height: 400px;
  width: 300px;
  display: flex;
}

.food-box {
  margin-top: 20px;
  text-align: center;
}

.food-title {
  margin-bottom: 20px;
  font-size: 24px;
}

.food-card-box {
  display: inline-block;
  width: 250px;
  margin-right: 30px;
}

.food-card {
  width: 250px;
  min-height: 250px;
  border-radius: 10px;
  margin-top: 20px;
  background-color: rgb(223, 223, 223);
  background-size: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.food-card-img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}

.food-card-info {
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  text-align: left;
}

.look-custom {
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* admin related */
.icon {
  width: 16px;
  height: auto;
  transition: 0.3s;
}

.icon:active {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 20px;
}

.admin-add-box {
  display: flex;
  justify-content: flex-end;
  width: 300px;
  margin-top: 20px;
}

.add-btn {
  display: inline-block;
  border: rgb(173, 173, 173) solid 1px;
  border-radius: 50%;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 32px;
  height: 32px;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: rgb(102, 102, 102);
  cursor: pointer;
  transition: 1s;
}

.add-btn:focus {
  transform: rotate(360deg);
}

/* admin add modal*/

.add-modal {
  position: fixed;
  justify-content: center;
  display: flex;
  overflow: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.add-form-box {
  position: absolute;
  height: 580px;
  top: 80%;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 300px;
  text-align: center;
  padding-top: 10px;
  border-radius: 10px;
  animation-name: modal;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  transition: 0.3s;
}

@keyframes modal {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-90%);
  }
}

.model-cancel-box {
  padding-left: 20px;
  width: 100%;
  display: flex;
  justify-content: left;
}

.model-cancel-btn {
  color: rgb(10, 122, 255);
  text-decoration: none;
}

.add-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 10px;
  margin: 30px auto;
  padding: 30px;
}

.add-title {
  margin-bottom: 30px;
}

.text-input {
  height: 30px;
  width: 250px;
  border: rgb(224, 224, 224) 1px solid;
  border-radius: 10px;
  margin-bottom: 20px;
  padding-left: 10px;
}

.label-image-input {
  background-color: rgb(10, 122, 255);
  color: white;
  font-weight: 400;
  border: none;
  border-radius: 10px;
  display: inline-block;
  width: 100px;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 20px;
  transition: 0.3s;
}

.image-input {
  display: none;
}

.text-input:focus {
  outline: none;
}

.textarea-input {
  width: 230px;
  height: 60px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.textarea-input:focus {
  outline: none;
}

.select {
  height: 30px;
  width: 60px;
  border: 1px solid rgb(167, 167, 167);
  border-radius: 10px;
  background-color: rgba(245, 244, 244, 0.6);
}

.select:focus {
  outline: none;
}

.submit-btn {
  width: 80px;
  height: 30px;
  margin-top: 20px;
  padding: 4px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  background-color: black;
  color: rgb(216, 215, 215);
}

.submit-btn:hover {
  background-color: #fff;
  color: black;
}

.cl-finish {
  background-color: rgb(230, 230, 230);
}

.footer {
  height: 100px;
  width: 100%;
  background-color: rgb(108, 124, 71);
  text-align: center;
  line-height: 100px;
}

.footer-words {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

@media (min-width: 700px) {
  /* scroll-bar */
  ::-webkit-scrollbar {
    width: 5px;
    height: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(247, 229, 191);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

@media all and (max-width: 242px) {
  .price {
    font-size: 18px;
  }
  .drink-card {
    width: 240px;
  }
  .test-wrapper {
    width: 240px;
  }

  .buttons {
    width: 240px;
  }

  .food-card {
    width: 240px;
    height: 240px;
  }

  .food-card-img {
    width: 240px;
    height: 240px;
  }

  .admin-add-box {
    width: 240px;
  }

  .add-form-box {
    height: 500px;
    width: 240px;
    top: 100%;
  }

  .textarea-input {
    width: 200px;
  }

  .text-input {
    width: 200px;
  }
}
