* {
  padding: 0;
  margin: 0;
}

.test-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 350px;
  width: 300px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.admin-icon-box {
  width: 100%;
  display: flex;
  justify-content: left;
}

.admin-icon {
  width: 16px;
  height: auto;
}

.logout {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.logo {
  width: 150px;
  height: auto;
}

.buttons {
  margin-top: 30px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 100px;
  width: 300px;
  padding-bottom: 10px;
}

.drink-btn {
  border: none;
  border-radius: 10px;
  background: rgb(248, 248, 230);
  height: 80px;
  width: 80px;
  cursor: pointer;
  font-size: 20px;
}

.food-btn {
  border: none;
  border-radius: 10px;
  background: rgb(255, 255, 219);
  height: 80px;
  width: 80px;
  cursor: pointer;
  font-size: 20px;
}

.main-sec {
  margin-bottom: 30px;
}

.category-title {
  font-size: 24px;
}

.drink-card {
  border-radius: 20px;
  font-size: 20px;
  height: 400px;
  min-width: 300px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-top: 20px;
}

@media all and (max-width: 242px) {
  .drink-card {
    width: 250px;
  }
}

.card-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

/* .item-box1 {
  width: 20%;
}

.item-box2 {
  width: 50%;
}

.item-box3 {
  width: 30%;
} */

.drink-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
}

.drink-price {
  display: flex;
}

.drink-price div {
  margin-left: 10px;
}

.food-box {
  margin-top: 20px;
  text-align: center;
}

.food-title {
  margin-bottom: 20px;
  font-size: 24px;
}

.food-card-box {
  display: inline-block;
  text-align: center;
}

.food-card {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  margin-top: 20px;
  background-color: rgb(201, 201, 48);
  background-size: 250px;
}

.food-card-info {
  font-size: 18px;
  margin-top: 10px;
}

.look-custom {
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* admin related */
.icon {
  width: 16px;
  height: auto;
  transition: 0.3s;
}

.icon:active {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 20px;
}

.admin-add-box {
  display: flex;
  justify-content: flex-end;
  width: 300px;
  margin-top: 20px;
}

.add-btn {
  display: inline-block;
  border: rgb(173, 173, 173) solid 1px;
  border-radius: 50%;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 32px;
  height: 32px;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: rgb(102, 102, 102);
  cursor: pointer;
  transition: 0.1s;
}

.add-btn:focus {
  width: 40px;
  height: 40px;
}

/* admin add modal*/

.add-modal {
  position: fixed;
  justify-content: center;
  display: flex;
  overflow: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.add-form-box {
  position: absolute;
  height: 580px;
  top: 5%;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 300px;
  text-align: center;
  padding-top: 10px;
  border-radius: 10px;
}

.model-cancel-box {
  padding-left: 20px;
  width: 100%;
  display: flex;
  justify-content: left;
  margin-bottom: 20px;
}

.model-cancel-btn {
  color: rgb(10, 122, 255);
  text-decoration: none;
}

.add-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 10px;
  width: 80%;
  margin: 50px auto;
  padding: 30px;
}

.add-title {
  margin-bottom: 30px;
  font-weight: 200;
}

.text-input {
  height: 30px;
  width: 250px;
  border: rgb(224, 224, 224) 1px solid;
  border-radius: 10px;
  margin-bottom: 20px;
  padding-left: 10px;
}

.text-input:focus {
  outline: none;
}

.textarea-input {
  width: 230px;
  height: 60px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.textarea-input:focus {
  outline: none;
}

.select {
  height: 30px;
  width: 60px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(245, 244, 244, 0.6);
}

.select:focus {
  outline: none;
}

.submit-btn {
  width: 80px;
  height: 30px;
  margin-top: 20px;
  padding: 4px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  background-color: black;
  color: rgb(216, 215, 215);
}

.submit-btn:hover {
  background-color: #fff;
  color: black;
}

/* scroll-bar */
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(247, 229, 191);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
