* {
  padding: 0;
  margin: 0;
}

.flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 300px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: center;
  margin-top: 100px;
}

.icon-box {
  padding: 20px;
}

.back-superlink {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
}

.back-icon {
  width: 24px;
}

.logo-pic {
  width: 100px;
  height: auto;
}

.login-box form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.text-input {
  height: 30px;
  border: 1px solid rgb(172, 172, 172);
  border-radius: 10px;
  padding-left: 5px;
  margin-bottom: 10px;
}

.text-input:focus {
  outline: none;
}

.login-btn {
  width: 80px;
  height: 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
}

.login-btn:hover {
}
