<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/homepage.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="admin-icon-box">
        <a href="./admin/admin.html"
          ><img class="admin-icon" src="./img/admin.png"
        /></a>
      </div>
      <div>
        <a><img class="logo" src="./img/pica.png" /></a>
      </div>
      <div class="buttons">
        <a href="./index.html"><button class="drink-btn">飲料</button></a>
        <a href="#food"><button class="food-btn">食物</button></a>
      </div>
      <section class="main-sec">
        <div class="card-box">
          <h2>咖啡 coffee</h2>
          <div class="card">
            <div class="drink-item">
              <div></div>
              <div class="drink-price">
                <div>冰</div>
                <div>熱</div>
              </div>
            </div>
            <div class="drink-item">
              <div>
                <div>美式黑咖啡</div>
                <div>Americano</div>
              </div>
              <div class="drink-price">
                <div>130</div>
                <div>130</div>
              </div>
            </div>
            <div class="drink-item">
              <div>
                <div>美式黑咖啡</div>
                <div>Americano</div>
              </div>
              <div class="drink-price">
                <div>130</div>
                <div>130</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="main-sec" id="food">
        <div class="food-box">
          <h3 class="food-title">甜點 dessert</h3>
          <div class="food-card-box">
            <div class="food-card"></div>
            <div class="food-card-info">
              <span>肉桂捲</span>
              <span>$90</span>
            </div>
          </div>
          <div class="food-card"></div>
        </div>
        <div class="food-box">
          <h3 class="food-title">沙拉 salad</h3>
          <div class="food-card"></div>
          <div class="food-card"></div>
        </div>
        <div class="food-box">
          <h3 class="food-title">鹹食 dishes</h3>
          <div class="food-card"></div>
          <div class="food-card"></div>
        </div>
      </section>
    </div>
  </body>
</html>
