<footer class="footer">
    <div class="footer-info-box">
        <div>
            <img src="./img/picapica-clean.png" class="footer-logo">
        </div>
        <div>
            <div>
                地址： 106台北市大安區羅斯福路三段269巷74號
            </div>
            <div>
                電話： 02 2362 8690
            </div>
        </div>
    </div>
    <div class="footer-icon-box">
        <img src="./img/instagram.png" class="ig-icon">
        <img src="./img/facebook.png" class="ig-icon">
    </div>
</footer>